{% extends "portal/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="jumbotron text-center">
        {% if prospect %}

            <h3>{{ prospect.full_name }}</h3>

            <a href="{% url 'prospect_get' campaign_id=campaign.id%}"><button class="btn btn-primary">Get Prospect</button></a>

            <table class="table table-stripped table-bordered">

                <tr>
                    <td>first name</td>
                    <td>{{ prospect.first_name }}</td>
                    <td>last name</td>
                    <td>{{ prospect.last_name }}</td>

                </tr>
                {% for prospect_field in prospect.clean_fields %}
                    <span>{{ prospect_field }}</span>
                {% endfor %}

            </table>

        {% elif no_results %}

            <span>No more prospect</span>

        {% endif %}

    </div>
{% endblock %}
