{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Prospects{% endblock %}

{% block extrahead %}

{% endblock %}

{% block content %}

    <div class="jumbotron text-center">
        <h3>Search Prospects</h3>
        <br>
{#        <a href="{% url 'crm_admin:campaign_add' %}"><button class="btn btn-success">Add Campaign</button></a>#}
        <br>
        <hr>

        <form method="get" >
            <div class="form-row">
                <div class="form-group col-lg-3">
                {{ filter.form.industry_type|as_crispy_field }}
                </div>
                <div class="form-group col-lg-3">
                    {{ filter.form.job_title|as_crispy_field }}
                </div>
                <div class="form-group col-lg-3">
                    {{ filter.form.state|as_crispy_field }}
                </div>
                <div class="form-group col-lg-3">
                    {{ filter.form.emp_size|as_crispy_field }}
                </div>
            </div>

            <br>
{#            {{ filter.form }}#}
                <input value="Search" type="submit" class="btn btn-info btn-block">
        </form>

        {% if filter.qs %}
            <br><br>
            <p>{{ filter.qs.count }} prospects found</p>
            <table class="table table-stripped table-bordered">

                <tr>
                    <td>Sr No.</td>
                    <td>First name</td>
                    <td>Last Name</td>
                    <td>Industry Type</td>
                    <td>Job Title</td>
                </tr>

                {% for prospect in filter.qs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ prospect.first_name }}</td>
                        <td>{{ prospect.last_name }}</td>
                        <td>{{ prospect.industry_type }}</td>
                        <td>{{ prospect.job_title }}</td>
                    </tr>
                {% endfor %}

            </table>

        {% else %}

            <h3>No Prospects.</h3>

        {% endif %}

    </div>


{% endblock %}

{% block extrajs %}

{% endblock %}

